name: Terraform EKS

on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.7.0

    # Configure AWS credentials for Terraform
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    # Terraform Init
    - name: Terraform Init
      working-directory: Terraform
      run: terraform init

    # Terraform Plan
    - name: Terraform Plan
      working-directory: Terraform
      run: terraform plan -out=tfplan

    # Terraform Apply
    - name: Terraform Apply
      working-directory: Terraform
      run: terraform apply -auto-approve tfplan
