name: Deploy nginx to AKS

on:
  # push:
  #   branches:
  #     - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Login to Azure
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # 3️⃣ Set AKS context
      - name: Set AKS context
        uses: azure/aks-set-context@v4
        with:
          resource-group: aks-rg
          cluster-name: k8s-githubworkflow-CICD

      # 4️⃣ Install kubectl (if not already installed)
      - name: Install kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'latest'

      # 5️⃣ Run nginx
      - name: Run nginx pod
        run: |
          kubectl run nginx --image=nginx
          echo "Waiting 1 minute for pod to start..."
          sleep 60
          kubectl get pods
