name: Helmfile-testing

on:
  workflow_dispatch:

jobs:
  install-helmfile-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
          helm version

      - name: Install Helmfile
        run: |
          curl -LO https://github.com/roboll/helmfile/releases/download/v0.135.0/helmfile_linux_amd64
          mv helmfile_linux_amd64 helmfile
          chmod +x helmfile
          sudo mv helmfile /usr/local/bin
          helmfile --version

      - name: Install Helm-diff plugin
        run: |
          helm plugin install https://github.com/databus23/helm-diff
          helm plugin list

      - name: Configure kubeconfig
        env:
          KUBE_CONFIG_DATA: ${{ secrets.EC2_KUBECONFIG }}
        run: |
          mkdir -p $HOME/.kube
          echo "$KUBE_CONFIG_DATA" | base64 --decode > $HOME/.kube/config
          kubectl get nodes  # optional: verify connection

      - name: Deploy with Helmfile
        run: |
          helmfile -f Deployment/helmfile.yaml apply
          sleep 60
          kubectl get pods
          kubectl get svc
