name: Helmfile-testing

on:
  # Trigger manually
  workflow_dispatch:

jobs:
  # The Job to install helmfile, authenticate with Azure, and use it
  install-helmfile-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
          
      - name: Install Helmfile
        run: |
          curl -LO https://github.com/roboll/helmfile/releases/download/v0.135.0/helmfile_linux_amd64
          mv helmfile_linux_amd64 helmfile
          chmod 777 helmfile
          sudo mv helmfile /usr/local/bin
          helmfile --version

      # Step to log in to Azure using a Service Principal
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}  # Store your Azure SP credentials in GitHub Secrets

      # Step to configure kubectl with AKS credentials
      - name: Set up kubectl with AKS credentials
        run: |
          az aks get-credentials --resource-group aks-rg --name aks-02

      # Step to run helmfile apply (deploying Helm charts)
      - name: Apply helmfile
        run: |
          helmfile -f Deployment/helmfile.yaml apply
          sleep 60
          kubectl get pods


