name: helmfile

on:
  workflow_dispatch:

jobs:
  Deploy_to_AKS:
    name: Deploy to AKS using Helmfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/

      - name: Install Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - name: Install Helmfile
        run: |
          curl -L -o helmfile https://github.com/helmfile/helmfile/releases/download/v0.157.1/helmfile_linux_amd64
          file helmfile  # Check the file type
          chmod +x helmfile
          sudo mv helmfile /usr/local/bin/helmfile
          helmfile --version  # Verify that helmfile is installed correctly


      - name: Configure AKS credentials
        uses: azure/aks-set-context@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          cluster-name: aks-02
          resource-group: aks-rg

      - name: Deploy microservices using Helmfile
        run: |
          helmfile apply
