name: CI/CD E2E Piepeline

on:
  # push:
  #   branches: [ "main" ]
  workflow_dispatch:

jobs:
  OWASP-Dependency-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: OWASP Dependency-Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: 'MyProject'
          path: '.'
          format: 'HTML'
          args: >
            --failOnCVSS 7
            --enableRetired

      - name: Upload Scan Report
        uses: actions/upload-artifact@v4
        with:
          name: Depcheck report
          path: ${{github.workspace}}/reports
          
  trivy_scan_fs:
    runs-on: ubuntu-latest
    needs: OWASP-Dependency-scan
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Run Trivy vulnerability scan on filesystem
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "fs"
          format: "table"
          exit-code: 1
          ignore-unfixed: true
          severity: "CRITICAL,HIGH"

  sonarqube-scan:
    name: SonarQube Scan
    runs-on: ubuntu-latest
    needs: trivy_scan_fs

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: SonarQube Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  DockerBuild-Appointment_microservice:
    runs-on: ubuntu-latest
    needs: sonarqube-scan

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./Appointment-Service
          file: ./Appointment-Service/Dockerfile
          load: true # Loads image to Docker daemon, doesn't push
          tags: |
            venkyy82/hcl_hackathon:Appointment.${{ github.run_number }}

      - name: Run Trivy image scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'venkyy82/hcl_hackathon:Appointment.${{ github.run_number }}' # Scan the locally loaded image
          format: 'table'
          exit-code: '0' # pass the job if vulnerabilities are found
          ignore-unfixed: true # Optional: Ignore unfixed vulnerabilities
      
      - name: Push the image to Docker Hub
        run: docker push venkyy82/hcl_hackathon:Appointment.${{ github.run_number }}


  DockerBuild-Patient_microservice:
    runs-on: ubuntu-latest
    needs: sonarqube-scan

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./Patient-Service
          file: ./Patient-Service/Dockerfile
          push: true
          tags: |
            venkyy82/hcl_hackathon:Patient.${{ github.run_number }}

      - name: Run Trivy image scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'venkyy82/hcl_hackathon:Patient.${{ github.run_number }}' # Scan the locally loaded image
          format: 'table'
          exit-code: '0' # Pass the job if vulnerabilities are found
          ignore-unfixed: true # Optional: Ignore unfixed vulnerabilities
      
      - name: Push the image to Docker Hub
        run: docker push venkyy82/hcl_hackathon:Patient.${{ github.run_number }}

  Deployment:
    runs-on: ubuntu-latest
    needs: 
      - DockerBuild-Patient_microservice
      - DockerBuild-Appointment_microservice

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Login to Azure using Service Principal
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Set AKS kubeconfig
      - name: Set AKS Context
        run: |
          az aks get-credentials \
            --resource-group aks-rg \
            --name aks-03 \
            --overwrite-existing

          kubectl get nodes

      - name: Install Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
          helm version

      - name: Install Helmfile
        run: |
          curl -LO https://github.com/roboll/helmfile/releases/download/v0.135.0/helmfile_linux_amd64
          chmod +x helmfile_linux_amd64
          sudo mv helmfile_linux_amd64 /usr/local/bin/helmfile
          helmfile --version

      - name: Install Helm-diff plugin
        run: |
          helm plugin install https://github.com/databus23/helm-diff
          helm plugin list

      - name: Deploy with Helmfile
        run: |
          # kubectl delete deploy appointment-service patient-service --wait=true
          # kubectl delete svc appointment-service patient-service --wait=true
          helmfile -f Deployment/helmfile.yaml sync
          sleep 60
          kubectl get pods
          kubectl get svc

  
